body {
    background-image:none
}

header {
    position:fixed;
    width:100%;
    height:4rem;
    background-color:#000;
    margin:0
}

.name {
    display:none
}

.initials {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    width:100%;
    height:auto;
    color:#fff;
    font-family:'Rock Salt',cursive;
    font-size:1rem;
    line-height:1.5rem;
    margin-left:1rem
}

.home-button {
    text-decoration:none;
    height:3rem
}

.social {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    padding-right:.5rem
}

.icon {
    color:#fff;
    margin:1.5rem
}

.icon:hover {
    color:#dcdcdc
}

.audio-container {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    width:100%
}

.audio-clip {
    width:80%;
    margin:4rem 1rem
}

@media screen and (min-width:800px) {

    .initials {
        display:none
    }

    .name {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack:justify;
        -ms-flex-pack:justify;
        justify-content:space-between;
        font-size:1rem;
        margin-left:1rem;
        margin-bottom:0
    }

    .audio-clip {
        width:40%
    }
}