<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chamber Works</title>
    <link rel="stylesheet" href="../pub/css/reset.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../pub/css/works.css">
    <link rel="stylesheet" href="../pub/css/product-page.css">
</head>
<body>
<main>
    <section class="product-data-container">
        <img src="../pub/img/products-mobile/landscape-preview.jpg" alt="product image" class="product-image-mobile">
        <img src="../pub/img/products-full/landscape.jpg" alt="product image" class="product-image">
        <section class="links">
            <a href="../pub/documents/landscape-sample.pdf" class="download-link">Sample</a>
            <a href="contact.html" class="purchase">Purchase</a>
        </section>
    </section>
    <section class="product-description-container">
        <h1 id="landscape" class="title">Winter Scenes: Movement 1 (Landscape)</h1><br>
        <h2 class="description-text">Soprano, string quintet<br>
            Lyrics: Walter de la Mare<br>
            Language: English<br>
            Duration: 5:00
        </h2>
        <p class="description-text">
            "Landscape” is the first movement in a yet-to-be-completed song cycle for soprano and string quintet.
            Each movement depicts a different experience of the winter season. In the opening movement, I
            wanted to capture the vastness of a frozen landscape and the solitary stillness of the text.
            I wrote this movement for performance by my sister, Chelsea Enloe, for her undergraduate senior vocal recital.
        </p>
        <h3 class="description-text">Text:</h3>
        <p class="description-text lyrics">
            “Winter”<br>
            Clouded with snow<br>
            The cold winds blow,<br>
            And shrill on leafless bough<br>
            The robin with its burning breast<br>
            Alone sings now.<br><br>

            The rayless sun,<br>
            Day's journey done,<br>
            Sheds its last ebbing light<br>
            On fields in leagues of beauty spread<br>
            Unearthly white.<br><br>

            Thick draws the dark,<br>
            And spark by spark,<br>
            The frost-fires kindle, and soon<br>
            Over that sea of frozen foam<br>
            Floats the white moon.<br><br>

            - Walter de la Mare

        </p>

    </section>
</main>
</body>
</html>