<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Choral Works</title>
    <link rel="stylesheet" href="../pub/css/reset.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../pub/css/works.css">
    <link rel="stylesheet" href="../pub/css/product-page.css">
</head>
<body>
    <main>
        <section class="product-data-container" id="when-the-rose-is-faded">
            <img src="../pub/img/products-mobile/when-the-rose-is-faded.jpg" alt="product image" class="product-image-mobile">
            <img src="../pub/img/products-full/when-the-rose-is-faded.jpg" alt="product image" class="product-image">
            <section class="links">
                <a href="../pub/documents/when-the-rose-has-faded-sample.pdf" class="download-link">Sample</a>
                <a href="/contact" class="purchase">Purchase</a>
            </section>
        </section>
        <section class="product-description-container">
            <h1 class="title">When The Rose Is Faded</h1>
            <h2 class="description-text">SATB divisi, a capella
                Lyrics: Walter de la Mare<br>
                Language: English<br>
                Duration: c. 5:00
            </h2>
            <p class="description-text">
                As I scanned the wondrous poetry of Walter De La Mare, “When the Rose is Faded” immediately captivated my attention by its universality and sincerity.
                The text speaks hopefully to the tragedy of loss, and can be programmed in any number of settings.
                The work was premiered at the Ithaca College Choral Composition Competition as a top-six finalist in 2016.
            </p>
            <h3 class="description-text">Text:</h3>
            <p class="description-text lyrics">
                When the rose is faded,<br>
                Memory may still dwell on<br>
                Her beauty shadowed,<br>
                And the sweet smell gone.<br><br>

                That vanishing loveliness,<br>
                That burdening breath,<br>
                No bond of life hath then,<br>
                Nor grief of death.<br><br>

                'Tis the immortal thought<br>
                Whose passion still<br>
                Makes the changing<br>
                The unchangeable.<br><br>

                Oh, thus thy beauty,<br>
                Loveliest on earth to me,<br>
                Dark with no sorrow, shines<br>
                And burns, with thee.<br><br>
                - Walter de la Mare
            </p>
        </section>
        <section class="product-data-container" id="gloria-patri">
            <img src="../pub/img/products-mobile/gloria-patri.jpg" alt="product image" class="product-image-mobile">
            <img src="../pub/img/products-full/gloria-patri.jpg" alt="product image" class="product-image">
            <section class="links">
                <a href="../pub/documents/Gloria%20Patri%20Sample.pdf" class="download-link">Sample</a>
                <a href="/contact" class="purchase">Purchase</a>
            </section>
        </section>
        <section class="product-description-container">
            <h1 class="title">Gloria Patri</h1><br>
            <h2 class="description-text">SSAATTBB<br>
                Lyrics: Anonymous (2nd Century A.D.)<br>
                Language: Latin<br>
                Duration: c. 7:00
            </h2>
            <p class="description-text">
                The “Gloria Patri” (known as the “lesser doxology”) is a text of immense breadth and substance that
                defies its brevity. Originating anonymously in the 2nd century A.D. and fixed in liturgical form by
                the 4th century A.D., it carries the weight of antiquity and reverence. Though the text has
                traditionally been presented in short, 1-2 minute settings, I felt a more extensive treatment could
                appropriately explore its thematic scope.<br><br>

                As an acknowledgement to the clear presentation of the Trinity, the work is
                structured around three homophonic presentations of the text “Gloria Patri,
                et Filio, et Spiritui Sancto.” Between these sections lie thematic variations
                of the “Sicut erat” text, each meant to explore a different dimension of the
                unfathomable length of eternity.

            </p>
            <h3 class="description-text">Text:</h3>
            <section class="translation-column-container">
                <p class="description-text lyrics">
                    Gloria Patri,<br>
                    et Filio,<br>
                    et Spiritui Sancto,<br>
                    Sicut erat in principio,<br>
                    et nunc, et semper, et in saecula saeculorum.<br>
                    Amen.
                </p>
                <p class="description-text lyrics">
                    Glory to the Father,<br>
                    and to the Son,<br>
                    and to the Holy Spirit,<br>
                    As it was in the beginning,<br>
                    is now, and will be forever.<br>
                    Amen.
                </p>
            </section>
        </section>


        <section class="product-data-container" id="halleluyah">
            <img src="../pub/img/products-mobile/halleluyah.jpg" alt="product image" class="product-image-mobile">
            <img src="../pub/img/products-full/halleluyah.jpg" alt="product image" class="product-image">
            <section class="links">
                <a href="../pub/documents/halleluyah-sample.pdf" class="download-link">Sample</a>
                <a href="/contact" class="purchase">Purchase</a>
                <a href="/reviews" class="review-link">Read Review</a>
            </section>
        </section>
        <section class="product-description-container">
            <h1 class="title">Halleluyah! (Psalm 150)</h1><br>
            <h2 class="description-text">SATB, Soloist, Piano<br>
                Lyrics: Psalm 150<br>
                Language: Hebrew<br>
                Duration: c. 3:00
            </h2>
            <p class="description-text">
                “Halleluyah!” is an advanced SATB arrangement of a work written for use in the synagogue.
                Originally presented as an ethnographic research study of Reformed Jewish cantors,
                the work won the 2016 Kol Emet Young Composer’s Prize for Jewish Music under
                adjudication by Dr. Samuel Adler. As the “punctuation mark of the Psalms,” it is
                an energetic and vibrant setting, featuring a challenging piano accompaniment.
            </p>
            <h3 class="description-text">Text:</h3>
            <section class="translation-column-container">
                <p class="description-text lyrics">
                    Hal’lu-El b'kodsho,<br>
                    Hal’luhu birki'a uzo<br>
                    Hal’luhu big'vurotav,<br>
                    Hal’luhu k'rov gudlo.<br>
                    Hal’luhu b'teka shofar,<br>
                    Hal’luhu b'nevel v'hinor<br>
                    Hal’luhu b'tov umahol,<br>
                    Haleluhu b'minim v'ugav<br>
                    Kol han’shama t’yhalelyah<br>
                </p>
                <p class="description-text lyrics">
                    Praise the Lord!<br>
                    Praise God in his sanctuary;<br>
                    Praise him in his mighty heavens!<br>
                    Praise him for his mighty deeds;<br>
                    Praise him according to his excellent greatness!<br>
                    Praise him with trumpet sound;<br>
                    praise him with lute and harp!<br>
                    Praise him with tambourine and dance;<br>
                    praise him with strings and pipe!<br>
                    Praise him with sounding cymbals;<br>
                    praise him with loud clashing cymbals!<br>
                    Let everything that has breath praise the Lord!<br>
                    Praise the Lord!
                </p>
            </section>
        </section>



        <section class="product-data-container" id="come-sleep">
            <img src="../pub/img/products-mobile/come-sleep.jpg" alt="product image" class="product-image-mobile">
            <img src="../pub/img/products-full/come-sleep.jpg" alt="product image" class="product-image">
            <section class="links">
                <a href="../pub/documents/come-sleep-sample.pdf" class="download-link">Sample</a>
                <a href="/contact" class="purchase">Purchase</a>
            </section>
        </section>
        <section class="product-description-container">
            <h1 class="title">Come, Sleep</h1><br>
            <h2 class="description-text">SATB divisi, piano<br>
                Lyrics: John Fletcher<br>
                Language: English<br>
                Duration: c. 5:30
            </h2>
            <p class="description-text">
                “Come, Sleep” by John Fletcher has endured the test of time beyond its original
                composition for the Jacobean-era stageplay,“The Woman Hater” (1607).
                The core, unifying theme for the text is longing, which I attempted to recreate through a
                luscious refrain of the opening words, “Come, Sleep.” Suitable for advanced choirs with an exceptional accompanist,
                the work floats dreamily through each stanza to a roaring climax in the second refrain.
            </p>
            <h3 class="description-text">Text:</h3>
            <p class="description-text lyrics">
                COME, Sleep, and with thy sweet deceiving<br>
                Lock me in delight awhile;<br>
                Let some pleasing dreams beguile<br>
                All my fancies; that from thence<br>
                I may feel an influence<br>
                All my powers of care bereaving!<br><br>

                Though but a shadow, but a sliding,<br>
                Let me know some little joy!<br>
                We that suffer long annoy<br>
                Are contented with a thought<br>
                Through an idle fancy wrought:<br>
                O let my joys have some abiding!<br><br>
                - John Fletcher (1607)
            </p>
        </section>

    </main>
</body>
</html>