<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link rel="stylesheet" href="../pub/css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link rel="stylesheet" href="../pub/css/main.css">
    <link rel="stylesheet" href="../pub/css/contact.css">
    <link rel="stylesheet" href="../pub/css/nav.css">
</head>
<body>
    <nav>
        <ul class="nav">
            <li class="nav-link-container"><a href="/index" class="nav-link one">Home</a></li>
            <li class="nav-link-container"><a href="/about" class="nav-link two">About</a></li>
            <li class="nav-link-container"><a href="/works" class="nav-link three">Works</a></li>
        </ul>
    </nav>
    <h1 class="contact">To purchase a composition or inquire about commissions, please contact Christopher Enloe at<br>
        <a href="mailto:christopher.enloe@gmail.com?subject=Contact&body=Please%20include%20your%20full%20name%2E%0D%0AIf%20purchasing%20a%20score%2C%20also%20include%20your%20mailing%20address%2E">christopher.enloe@gmail.com</a>
    </h1>

</body>
</html>