<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="HZLCiyutFx4RDPBIySul0CvGWc2gP3VYmQeqQahQY_Q" />
    <meta name="google-site-verification" content="jYcKBBgA29MBXGONHdwwckPMiJmO65JJqihsExKc7Aw" />
    <title>Christopher Enloe</title>
    <link rel="stylesheet" href="../pub/css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Amiri" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link rel="stylesheet" href="../pub/css/main.css">
</head>

<body>
<header>
    <section class="name-container">
        <h1 class="name">Christopher Enloe</h1>
        <h1 class="description">Composer | Performer | Producer</h1>
        <nav class="main-nav">
            <div class="link-container"><a href="/about" class="nav-link">About</a></div>
            <div class="link-container"><a href="/works" class="nav-link">Works</a></div>
        </nav>
    </section>
</header>
<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
<script src="../pub/js/script-main.js"></script>
</body>

</html>