<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reviews</title>
    <link href="https://fonts.googleapis.com/css?family=Amiri" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/reviews-bio.css">
</head>
<body>
<article class="review-container">
<h1>Halleluyah! (Psalm 150)</h1><br>
    <p>Performance Review - Cantor Susan Lewis Friedman, Beth Emet the Free Synagogue, Evanston, IL<br><br>

        Kol Emet the Jewish Music Project is a committee at Beth Emet the Free Synagogue dedicated to
        bringing new and innovative Jewish music to the Midwest. It is our mission to find the latest
        and greatest in Jewish Music and introduce it to our congregation. In order to accomplish this,
        every year we sponsor a Young Composer’s Competition.  Young composers from colleges all over the U.S.
        are asked to submit a piece of music for cantor and/or choir which is set to a text as part of our
        Shabbat liturgy which we could use in our services.<br><br> This year, Christopher Enloe’s Psalm 150 was
        chosen as our winner, hands down. We were particularly drawn to his use of the Jewish mode of Shabbat,
        Ahavah Rabbah. A great deal of the music we use for services no longer gives a nod to these modes,
        unless the cantor is improvising, and we are always drawn to contemporary works which bring the modes back.
        For me as a cantor, this was a thrilling setting, with its florid melismatic passages in the appropriate mode.
        The text is about praising God with many different kinds of instruments, Christopher’s writing depicted
        almost all of these instruments in the vocal lines. It was also extremely accessible and fun for my choir to
        learn. The congregation loved it, and even applauded (which is completely unheard of in a Shabbat service).
        It is exquisite, and we plan to do the piece again for the High Holy Days.
    </p>
</article>

</body>
</html>