<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Works</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/music-category.css">
</head>
<body>
    <nav>
        <ul class="nav">
            <li class="nav-link-container"><a href="home.html" class="nav-link one">Home</a></li>
            <li class="nav-link-container"><a href="bio.html" class="nav-link two">About</a></li>
            <li class="nav-link-container"><a href="contact.html" class="nav-link three">Contact</a></li>
        </ul>
    </nav>
    <header class="header">
        <h1 class="title">Works</h1>
    </header>
    <main class="category-container">
        <section class="category-one">
            <section class="category"><h2 class="category-title">Choral</h2></section>
            <ul class="orchestration-list">
                <li class="orchestration-item item"><a href="choral-works.html#gloria-patri" class="item-link">Gloria Patri</a></li>
                <li class="orchestration-item item"><a href="choral-works.html#when-the-rose-is-faded" class="item-link">When The Rose Is Faded</a></li>
                <li class="orchestration-item item"><a href="choral-works.html#come-sleep" class="item-link">Come, Sleep</a></li>
                <li class="choral-item item"><a href="choral-works.html#halleluyah" class="item-link">Halleluyah</a></li>
            </ul>
        </section>
        <section class="category-two">
            <section class="category"><h2 class="category-title">Chamber</h2></section>
            <ul class="choral-list">
                <li class="choral-item item"><a href="chamber-works.html" class="item-link">Winter Scenes (Landscape)</a></li>
            </ul>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <script src="../js/music-category-script.js"></script>
</body>
</html>